.features-container {
  display: flex;
}
.features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  list-style-type: none;
}

.features-item {
  width: 288px;
}

.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}

.features-list-text {
  font-weight: 500;
  margin-top: 8px;
  width: 264px;
}

.features-decoration {
  display: none;
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-title {
    text-align: left;
    width: 264px;
  }

  .features-list-text {
    width: 100%;
  }
}

@media (min-width: 1158px) {
  .features-list {
    flex-direction: row;
    gap: 24px;

    width: calc(100% - 72px) / 4;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  .features-list-text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .features-decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}
