.hero {
  background-color: #2e2f42;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  width: 496px;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07143;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
