.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms ease-in-out;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* Modal container */

.modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  position: relative;

  border-radius: 4px;
  padding: 72px 16px 24px;
  width: 288px;
  height: 623px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
}

/* Close btn */

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 50%;

  color: #2e2f42;
  background-color: #e7e9fc;

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-svg {
  fill: currentColor;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #fff;
  background-color: #404bbf;
}

/*  */

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 256px;
}

.modal-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.modal-fieldset-main {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-fieldsets {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Text input */

.modal-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrap {
  position: relative;
}

.modal-form-input {
  display: flex;
  align-items: center;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;
  width: 256px;
  height: 40px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: transparent;
  background-color: transparent;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;
}

.modal-form-input:focus,
.modal-form-input:focus-within {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-form-textarea {
  display: flex;
  border: 1px solid rgba(46, 47, 66, 0.4);

  border-radius: 4px;
  padding: 8px 16px;
  width: 256px;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

/* CheckBox */

.modal-form-checkbox-container {
  display: flex;
  align-items: center;
  height: 16px;
}

.modal-form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  width: 256px;
}

.modal-custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-svg {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.modal-checkbox-text {
  margin-left: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input-checkbox:checked
  + .modal-form-label-checkbox
  .modal-custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.modal-form-input-checkbox:checked
  + .modal-form-label-checkbox
  .modal-check-svg {
  opacity: 1;
}

.modal-checkbox-text {
  user-select: none;
}

.modal-form-link {
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* Btn */

.modal-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #fff;

  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-caption {
    width: 360px;
  }

  .modal-form-input {
    width: 360px;
  }

  .modal-form-textarea {
    width: 360px;
  }

  .modal-form-label-checkbox {
    width: 360px;
  }
}

@media (min-width: 1158px) {
}
